/* graph nodes */ 
.link {
  fill: none;
  stroke: #666;
  stroke-width: 2px;
}

#agree {
  fill: green;
}

.link.agree {
  stroke: green;
}

#disagree {
  fill: red;
}

.link.disagree {
  stroke: red;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

circle:hover {
  fill: yellow;
  cursor: pointer;
}

/* text */ 
.container {
  padding: 3%;
}

.scroll {
  height: 300px;
  overflow: scroll;
  padding: 1%;
  border: 1.5px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
}