/* graph nodes */ 
.link {
  fill: none;
  stroke: #666;
  stroke-width: 2px;
}

#agree {
  fill: green;
}

.link.agree {
  stroke: green;
}

#disagree {
  fill: red;
}

.link.disagree {
  stroke: red;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

circle:hover {
  fill: yellow;
  cursor: pointer;
}

/* text */ 
.container {
  padding: 10px;
}

.scroll {
  height: 300px;
  overflow: scroll;
  padding: 1%;
  border: 1.5px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
}

h1 { 
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-align: right; 
  line-height: .25em;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.quote {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
}

.conversation {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  background-color:  yellow;
}

a:link {
    color: inherit;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: inherit;
    text-decoration: none;

}

a:hover {
    color: inherit;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: inherit;
}